@use "../pages/variables.scss" as vars;

// Button base styles
%btn-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

// Primary button (orange background)
.btn-primary {
  @extend %btn-base;
  color: vars.$white;
  background-color: vars.$dank-orange;

  &:hover {
    transform: scale(0.95);
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.9);
  }
}

// Secondary button (dark background)
.btn-secondary {
  @extend %btn-base;
  color: vars.$white;
  background-color: vars.$dank;

  &:hover {
    transform: scale(0.95);
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.9);
  }
}

// Link button (transparent, underline on hover)
.btn-link {
  @extend %btn-base;
  position: relative;
  color: vars.$white;
  background: transparent;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    transform: scale(0);
    transform-origin: left;
    background-color: vars.$white;
    transition: all 0.4s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: vars.$dank-orange;
  }

  &:hover {
    color: vars.$dank-orange;

    &::before {
      transform: scale(1);
    }
  }
}

// Button sizes
.btn-sm {
  padding: 8px 16px;
  font-size: 1.4rem;
  height: 36px;
}

.btn-md {
  padding: 30px 8px;
  font-size: 1.6rem;
  height: 42px;
}

.btn-lg {
  padding: 16px 32px;
  font-size: 1.8rem;
  height: 56px;
}
