@use "../pages/variables.scss" as vars;

// Link base styles
%link-base {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

// Link with underline on hover
.link-underline-white {
  @extend %link-base;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: vars.$white-80;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: vars.$dank-orange;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  &:hover {
    color: vars.$dank-orange;

    &::before {
      transform: scaleX(1);
    }
  }
}

.link-underline-orange {
  @extend %link-base;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: vars.$dank-orange;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: vars.$white-80;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  &:hover {
    color: vars.$white-80;

    &::before {
      transform: scaleX(1);
    }
  }
}

// Link with color change on hover only
.link-hover {
  @extend %link-base;

  &:hover {
    color: vars.$dank-orange;
  }
}

// Active link state
.link-active {
  @extend %link-base;
  color: vars.$dank-orange;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: vars.$dank-orange;
    transform: scaleX(1);
  }
}
