@use "./variables.scss" as vars;

main {
  .blog-hero {
    margin-top: 197px;
    color: vars.$white;

    &__title {
      position: relative;
      text-align: center;
      font-size: 64px;
      line-height: 74px;
      font-weight: 500;
      text-transform: capitalize;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -28px;
        width: 100%;
        height: 1px;
        background: vars.$white-80;
        opacity: 0.5;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -28px;
        width: 100%;
        height: 1px;
        background: vars.$white-80;
        opacity: 0.5;
      }
    }
  }

  .featured-post {
    display: flex;
    gap: 30px;
    margin-top: 78px;

    &__image {
      img {
        width: 710px;
        height: 531px;
      }
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
      text-transform: capitalize;
    }

    &__excerpt {
      margin-top: 40px;
      width: 383px;
      line-height: 26px;
      color: vars.$white-80;
    }

    &__readmore {
      display: inline-block;
      margin-top: 64px;
      line-height: 30px;
      color: vars.$white;
      text-transform: capitalize;
    }
  }

  .blog-grid {
    position: relative;
    display: flex;
    gap: 60px;
    margin-top: 100px;

    &::before {
      content: "";
      position: absolute;
      top: -50px;
      display: block;
      width: 100%;
      height: 1px;
      background: vars.$white-80;
      opacity: 0.5;
    }
  }

  .blog-card {
    color: vars.$white;

    &:hover {
      .blog-card__title {
        color: vars.$dank-orange;
      }
    }

    &__image {
      width: 100%;
      height: 600px;
      background: lightgray 50%;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
      font-weight: 500;
      text-transform: capitalize;
      margin-top: 24px;
      transition: all 0.3s ease;
    }

    &__meta {
      position: relative;
      display: flex;
      gap: 10px;
      color: vars.$white-80;
      line-height: 26px;
      margin-top: 16px;

      &::after {
        content: "";
        position: absolute;
        top: 56px;
        display: block;
        width: 100%;
        height: 1px;
        background: vars.$white-80;
        opacity: 0.2;
      }
    }

    &__readmore {
      line-height: 26px;
      margin-top: 50px;
    }
  }

  .pagination {
    position: relative;
    margin-top: 110px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 80px;
      width: 100%;
      height: 1px;
      background: vars.$white-80;
      opacity: 0.5;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      line-height: 26px;
      color: vars.$white;
    }

    &__prev,
    &__next {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: vars.$dank-orange;
      }
    }

    &__list {
      display: flex;
      gap: 30px;
    }

    &__item {
      padding: 1px 11px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background: vars.$dank-orange;
      }
    }

    .active {
      background: vars.$dank-orange;
    }
  }

  .newsletter {
    position: relative;
    display: flex;
    margin-top: 195px;
    gap: 75px;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 80px 0;
    }

    &__badge {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__title {
      font-size: 64px;
      font-weight: 500;
      line-height: 74px;
      text-transform: capitalize;
    }

    &__desc {
      line-height: 26px;
      color: vars.$white-80;
    }

    &__icon {
      position: absolute;
      top: -46px;
      left: -55px;
      z-index: -1;
    }

    &__form {
      position: relative;
    }

    &__input {
      position: relative;
      width: 100%;
      padding-bottom: 28px;
      border: transparent;
      border-bottom: 1px solid vars.$white;
      outline: none;
      background: transparent;
      color: vars.$white;
      font-size: 16px;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
        border-bottom: 1px solid vars.$dank-orange;
      }
    }

    .input-icon {
      position: absolute;
      top: 25%;
      transform: translateY(-50%);
      right: 0;
      color: vars.$white;
      transition: all 0.3s ease;

      &:hover {
        color: vars.$dank-orange;
      }
    }
  }
}
