@use "./variables.scss" as vars;

main {
  .blog-hero {
    margin-top: 197px;
    color: vars.$white;

    &__title {
      position: relative;
      text-align: center;
      font-size: 64px;
      line-height: 74px;
      font-weight: 500;
      text-transform: capitalize;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -28px;
        width: 100%;
        height: 1px;
        background: vars.$white-80;
        opacity: 0.5;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -28px;
        width: 100%;
        height: 1px;
        background: vars.$white-80;
        opacity: 0.5;
      }
    }
  }

  .featured-post {
    display: flex;
    gap: 30px;
    margin-top: 78px;

    &__image {
      img {
        width: 710px;
        height: 531px;
      }
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
      text-transform: capitalize;
    }

    &__excerpt {
      margin-top: 40px;
      width: 383px;
      line-height: 26px;
      color: vars.$white-80;
    }

    &__readmore {
      display: inline-block;
      margin-top: 64px;
      line-height: 30px;
      color: vars.$white;
      text-transform: capitalize;
    }
  }

  .blog-grid {
    margin-top: 100px;

    &__card {
    }
  }
}
