@use "./variables.scss" as vars;

main {
  .banner {
    position: relative;
    height: 194px;
    background: url("../../../public/images/banner-1.jpg") no-repeat
      center/cover;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      bottom: -1px;
      background:
        linear-gradient(
          269deg,
          rgba(0, 0, 0, 0.2) 21.08%,
          rgba(0, 0, 0, 0) 38.98%
        ),
        rgba(17, 17, 20, 0.6);
      backdrop-filter: blur(2.5px);
    }
    margin-top: 70px;
    .inner {
      position: relative;
      z-index: 1;
      display: flex;
      height: 194px;
      justify-content: space-evenly;
      align-items: center;

      .text-banner {
        display: flex;
        gap: 19px;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 2.4rem;
        line-height: 34px;

        .number {
          font-size: 6.4rem;
          line-height: 74px;
        }

        .text {
          max-width: 148px;
        }
      }
    }
  }

  .popular-food {
    position: relative;
    margin-top: 139px;

    .flower-vector {
      position: absolute;
      top: 72px;
    }

    .title-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .food-title {
        font-size: 64px;
        line-height: 74px;
        font-weight: 500;
        text-transform: capitalize;
        align-items: center;
        margin-top: 48px;
      }

      .food-description {
        text-align: center;
        max-width: 601px;
        color: vars.$white-80;
        line-height: 26px;
      }
    }

    .food-grid {
      .home-image {
        height: 346px !important;
      }
    }
  }

  .all-food-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-top: 30px;
    cursor: pointer;
    color: vars.$dank-orange;

    a {
      position: relative;
      color: vars.$dank-orange;
      line-height: 26px;

      &::after,
      &::before {
        width: 126%;
      }

      &:hover {
        color: inherit;
      }
    }
  }

  .contact-section {
    display: flex;
    margin-top: 96px;

    .contact-info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 380px;
      background: url("../../../public/images/banner-2.png") no-repeat
        center/cover;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background:
          linear-gradient(
            269deg,
            rgba(0, 0, 0, 0.2) 21.08%,
            rgba(0, 0, 0, 0) 38.98%
          ),
          rgba(17, 17, 20, 0.6);
        backdrop-filter: blur(2.5px);
        border: 1px solid vars.$white-80;
        border-right: transparent;
        border: 1px solid; /* độ dày bắt buộc */
        border-image: linear-gradient(
          to right,
          #fbf8fc,
          rgba(251, 248, 252, 0.09)
        );
        border-image-slice: 1;
      }

      h3 {
        font-size: 2.4rem;
        text-transform: capitalize;
        font-weight: 500;
        line-height: 34px;
        z-index: 1;
      }

      .address {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: vars.$white-80;
        line-height: 26px;
        z-index: 1;
      }
    }

    .opening-hours {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 380px;
      background-color: vars.$dank-orange;

      h3 {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        text-transform: capitalize;
      }

      .hours-list {
        display: flex;
        justify-content: space-between;
        width: 300px;
        line-height: 26px;
        margin-top: 10px;
      }
    }
  }

  .food-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;

    span {
      color: vars.$white-80;
      text-align: center;
      line-height: 26px;
    }

    .selection-title {
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 74px;
      text-transform: capitalize;
      margin-top: 10px;
    }

    .selection-description {
      max-width: 602px;
      text-align: center;
      color: vars.$white-80;
      line-height: 26px;
      margin-top: 20px;
    }

    .category-nav {
      display: flex;
      gap: 60px;
      color: vars.$white;
      margin-top: 60px;

      .nav-item {
        position: relative;

        a {
          font-family: "Libre Bodoni", serif;
          font-size: 3rem;
          font-weight: 500;
          line-height: 40px;
          transition: color 0.3s ease-in-out; /* Chỉ transition màu chữ */
          position: relative;
          display: inline-block; /* Đảm bảo ::after hoạt động chính xác */
        }

        a:hover {
          color: vars.$dank-orange;
        }

        a::after {
          content: "";
          position: absolute;
          bottom: -2px; /* Điều chỉnh vị trí đường gạch chân */
          left: 0;
          width: 100%;
          height: 1px;
          background-color: vars.$dank-orange;
          transform: scaleX(0); /* Bắt đầu với chiều rộng bằng 0 */
          transform-origin: left; /* Hiệu ứng bắt đầu từ trái */
          transition: transform 0.3s ease-in-out; /* Transition cho transform */
        }

        a:hover::after {
          transform: scaleX(1); /* Mở rộng đường gạch chân sang phải */
        }

        a:not(:hover)::after {
          transform-origin: left; /* Khi nhả hover, thu gọn từ phải sang trái */
        }

        .active {
          color: vars.$dank-orange;
        }

        .active::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: vars.$dank-orange;
          transform: scaleX(1); /* Đường gạch chân luôn hiển thị cho .active */
          transform-origin: left;
        }

        .active-hover {
          color: vars.$dank-orange;
        }

        .active-hover::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: vars.$dank-orange;
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    .crossbar {
      width: 100%;
      height: 1px;
      background-color: rgba(225, 225, 225, 0.8);
      opacity: 0.2;
      margin-top: 30px;
    }

    .food-list {
      margin-top: 30px;

      .col-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .menu-item {
          display: flex;
          align-items: center;
          margin-top: 20px;

          .food-img {
            width: 76px;
            height: 76px;
            border-radius: 50%;
            margin-right: 20px;
          }

          .information-food {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            font-size: 3rem;
            font-weight: 500;
            line-height: 40px;

            .food-name {
              width: 302px;
              transition: all 0.3s ease;
            }
          }

          &:hover {
            .food-name {
              color: vars.$dank-orange;
            }
          }
        }
      }
    }
  }

  .restaurant-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 152px;

    .showcase-title {
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 74px;
      text-transform: capitalize;
    }

    .showcase-description {
      max-width: 625px;
      text-align: center;
      color: vars.$white-80;
      line-height: 26px;
    }

    .gallery-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 60px;
      gap: 30px;

      .gallery-item {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        width: calc(33.33% - 20px);
        height: 600px;

        .gallery-image {
          width: 100%;
          height: 285px;
          border: 1px solid #fff;
        }

        .gallery-image-full {
          width: 100%;
          height: 100%;
          border: 1px solid #fff;
        }
      }
    }
  }
  .reservation-block {
    margin-top: 150px;

    .booking-details {
      background-color: vars.$dank-orange;
      padding: 40px 0 40px 40px;

      .booking-information {
        .booking-title {
          color: vars.$dank;
          font-size: 40px;
          font-weight: 500;
          line-height: 50px;
          text-transform: capitalize;
        }

        .make-appointment {
          display: flex;
          gap: 100px;
          margin-top: 40px;

          .set-date {
            display: flex;
            flex-direction: column;

            .date-title {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 34px;
              text-transform: capitalize;
              font-family: "Libre Bodoni";
            }

            .date-select {
              display: flex;
              column-gap: 4px;
              margin-top: 10px;

              .date-day {
                font-size: 4rem;
                font-weight: 500;
                line-height: 50px;
                text-transform: capitalize;
                font-family: "Libre Bodoni";
              }

              .select-month {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 4px;
                font-size: 14px;
                font-family: "Plus Jakarta Sans";
                margin-top: 7px;

                .icon-down {
                  font-size: 12px;
                  font-weight: 600;
                }
              }
            }
          }
        }

        .btn-book {
          color: vars.$white;
          width: 312px;
          height: 56px;
          background: vars.$dank;
          margin-top: 74px;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
    .image-panel {
      position: relative;
      width: 100%;
      height: 100%;
      background: url("../../../public/images/panel-1.png") no-repeat
        center/cover;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background:
          linear-gradient(
            269deg,
            rgba(0, 0, 0, 0.2) 21.08%,
            rgba(0, 0, 0, 0) 38.98%
          ),
          rgba(17, 17, 20, 0.6);
        backdrop-filter: blur(2.5px);
      }

      .firer {
        position: absolute;
        right: -60px;
        top: -60px;
      }
    }
  }

  .offers-section {
    margin-top: 150px;

    .offer-banner {
      position: relative;
      width: 100%;
      height: 433px;
      background:
        linear-gradient(91deg, #1d1d1b 0.92%, rgba(71, 69, 69, 0) 74.5%),
        url("../../../public/images/panel-2.png") no-repeat center/cover;
      margin-top: 52px;

      &::after {
        content: "";
        position: absolute;
        top: 23px;
        right: 30px;
        left: 30px;
        bottom: 23px;
        display: block;
        border: 1px solid; /* độ dày bắt buộc */
        border-right: none;
        border-image: linear-gradient(
          to right,
          #fbf8fc,
          rgba(251, 248, 252, 0.09)
        );
        border-image-slice: 1;
      }

      .promo-block {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 1;
        padding-top: 96px;
        padding-left: 72px;

        .banner-title {
          font-size: 24px;
          color: vars.$white;
          font-weight: 600;
          line-height: 38px;
          text-transform: capitalize;
        }

        .banner-sale {
          color: vars.$dank-orange;
          font-family: "Playball", cursive;
          font-size: 84px;
          font-style: normal;
          font-weight: 400;
          line-height: 82px; /* 97.619% */
          letter-spacing: -5.04px;
          text-transform: capitalize;
          margin-top: 8px;

          span {
            color: vars.$white;
            font-family: "Plus Jakarta Sans";
            font-size: 26px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 1px;
            text-transform: lowercase;
          }
        }

        .banner-text {
          width: 254px;
          color: vars.$white;
          line-height: 26px;
          margin-top: 14px;
        }

        .banner-btn {
          color: vars.$white;
          background: vars.$dank-orange;
          width: 145px;
          height: 42px;
          margin-top: 40px;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }

    .offer-list {
      display: flex;
      flex-direction: column;
      gap: 36px;
      margin-top: 52px;

      .deal-card {
        overflow: hidden;
        display: flex;

        &:hover {
          cursor: pointer;

          .deal-title,
          .deal-price {
            color: vars.$dank-orange;
          }

          .deal-image {
            transform: scale(1.1);
          }
        }

        .deal-image {
          width: 130px;
          height: 120px;
          background-color: vars.$dank-orange;
          margin-right: 28px;
          transition: all 0.3s ease-in-out;
        }

        .deal-imformation {
          flex-grow: 1;

          .title-price {
            display: flex;
            justify-content: space-between;

            .deal-title {
              font-size: 24px;
              font-weight: 500;
              line-height: 34px;
              transition: all 0.3s ease-in-out;
            }

            .deal-price {
              font-size: 30px;
              font-weight: 500;
              line-height: 40px;
              transition: all 0.3s ease-in-out;
            }
          }

          .deal-text {
            color: vars.$white-80;
            line-height: 26px;
            width: 323px;
            margin-top: 16px;
          }
        }
      }
    }
  }

  .service-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    left: 0;
    right: 0;
    height: 136px;
    background-color: vars.$dank-orange;

    .service-item {
      display: flex;
      align-items: center;
      gap: 18px;
      color: vars.$dank;
      font-family: "Libre Bodoni", serif;

      &:nth-child(1) {
        margin-left: -12px;
      }

      .item-text {
        font-size: 3rem;
        font-weight: 500;
        line-height: 42px;
      }

      .item-icon {
        position: relative;

        .service-img {
          position: absolute;
          left: 15px;
          top: 15px;
          width: 26px;
          height: 26px;
        }
      }
    }
  }

  .chef-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 436px;

    .chef-title {
      text-align: center;
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 74px;
      text-transform: capitalize;
    }

    .chef-subtitle {
      color: vars.$white-80;
      max-width: 768px;
      text-align: center;
      line-height: 26px;
      margin-top: 16px;
    }

    .chef-grid {
      width: 100%;
      margin-top: 40px;

      &:hover {
        .chef-image {
          transform: scale(0.9);
        }

        // .chef-name {
        //   color: vars.$dank-orange;
        // }
      }

      .chef-name {
        font-size: 3rem;
        line-height: 40px;
        font-weight: 500;
        text-align: center;
        margin-top: 30px;
        transition: all 0.3s ease-in-out;
      }

      .chef-role {
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        text-align: center;
        color: vars.$white;
      }
    }
  }

  .blog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;

    .blog-subtitle {
      color: vars.$white-80;
      line-height: 26px;
    }

    .blog-title {
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 74px;
      text-transform: capitalize;
      margin-top: 20px;
    }

    .article-list {
      width: 100%;
      margin-top: 60px;

      .article-image {
        width: 100%;
        height: 348px;
      }

      .article-card {
        .article-date {
          line-height: 26px;
          color: vars.$white;
        }

        .article-title {
          width: 570px;
          font-size: 30px;
          font-weight: 500;
          line-height: 40px;
          margin-top: 20px;
        }

        .article-text {
          width: 570px;
          color: vars.$white-80;
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
          margin-top: 20px;
        }

        .article-stats {
          display: flex;
          gap: 111px;
          color: vars.$white;
          margin-top: 30px;
          line-height: 26px;
        }

        .article-btn {
          color: vars.$white;
          line-height: 26px;
          margin-top: 30px;
        }
      }
    }

    .all-article-btn {
      display: flex;
      gap: 10px;
      align-items: center;
      color: vars.$dank-orange;
      margin-top: 40px;

      a {
        color: inherit;
        line-height: 26px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 1px;
          background: vars.$dank-orange;
        }
      }
    }
  }

  .banner-footer {
    position: relative;
    width: 100%;
    height: 242px;
    margin-top: 156px;

    .banner-img {
      position: absolute;
      inset: 0;
      left: -7%;
      right: -6%;
      background: url("../../../public/images/banner-1.jpg") no-repeat
        center/cover;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        bottom: -1px;
        background: linear-gradient();
        background:
          linear-gradient(
            269deg,
            rgba(0, 0, 0, 0.2) 21.08%,
            rgba(0, 0, 0, 0) 38.98%
          ),
          rgba(17, 17, 20, 0.6);
        backdrop-filter: blur(2.5px);
      }
    }

    .banner-section {
      height: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .banner-text {
        .banner-title {
          font-size: 40px;
          font-weight: 500;
          line-height: 50px;
          text-transform: capitalize;
        }

        .banner-content {
          line-height: 26px;
          color: vars.$white;
          max-width: 405px;
        }
      }

      .banner-input {
        display: flex;
        align-items: start;

        .input-email {
          width: 470px;
          background: transparent;
          border: none;
          outline: none;
          color: vars.$white-80;
          padding-bottom: 28px;
        }

        button {
          &:hover path {
            stroke: vars.$dank-orange;
          }
        }
      }
    }
  }
}
