// Design tokens
@use "./variables.scss" as vars;

// Reset
@use "./reset";

// Layout
@use "../layout/grid";
@use "../layout/header";
@use "../layout/footer";

// Pages
@use "../pages/home.scss";
@use "../pages/menu.scss";
@use "../pages/product-detail.scss";
@use "../pages/product-detail-review.scss";
@use "../pages/blog.scss";
@use "../pages/pages.scss";

// Components (Shared)
@use "../components/buttons";
@use "../components/links";
@use "../components/cards";
@use "../components/typography";
@use "../components/food-grid";

@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Playball&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

// Common
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: vars.$dank;
}

button,
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Bodoni", serif;
  color: vars.$white;
}
