@use "./variables.scss" as vars;

main {
  .menu-category {
    margin-top: 170px;
    text-align: center;

    .category-title {
      font-size: 64px;
      line-height: 74px;
    }
  }

  .food-grid {
    position: relative;

    .round-left-btn {
      position: absolute;
      top: 31%;
      left: 4%;
      z-index: 998;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 68px;
      height: 68px;
      background: vars.$white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        scale: 1.1;
      }
    }

    .round-right-btn {
      position: absolute;
      top: 31%;
      right: 4%;
      z-index: 998;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 68px;
      height: 68px;
      background: vars.$white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        scale: 1.1;
      }
    }

    .decor-line {
      position: absolute;
      right: 40px;
      top: -60px;
    }

    .arrow-circle {
      position: absolute;
      bottom: 0;
    }

    .food-item {
      .food-image {
        height: 470px;
      }

      .item-details {
        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .category-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 152px;
    background: url("../../../public/images/category-banner.png") no-repeat
      center / cover;
    backdrop-filter: blur(7px);
    width: 100%;
    height: 532px;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 46px 100px;
      width: 770px;
      height: 364px;
      background: rgba(17, 17, 20, 0.5);
      backdrop-filter: blur(2px);
    }

    &__title {
      width: 570px;
      font-size: 64px;
      text-transform: capitalize;
      line-height: 74px;
      text-align: center;
    }

    &__subtitle {
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      line-height: 38px;
      color: vars.$white;
    }

    &__btn {
      margin-top: 38px;
    }
  }
}
