@use "./variables.scss" as vars;

main {
  .product-detail {
    margin-top: 190px;

    &__main {
      display: flex;
      gap: 30px;
    }

    &__image {
      img {
        width: 640px;
        height: 686px;
      }
    }

    &__title {
      width: 570px;
      font-size: 64px;
      font-weight: 500;
      line-height: 74px;
      text-transform: capitalize;
    }

    &__rating {
      display: flex;
      gap: 8px;
      margin-top: 20px;
      align-items: center;

      .stars {
        color: vars.$dank-orange;
      }
    }

    &__review-count {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    &__price {
      font-family: "Libre Bodoni", serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 2px;
      text-transform: capitalize;
      margin-top: 20px;
      color: vars.$white;
    }

    &__review-count {
      color: vars.$white-80;
    }

    &__description {
      margin-top: 20px;
      font-weight: 400;
      line-height: 26px;
      color: vars.$white-80;
    }

    &__add-to-cart {
      display: flex;
      gap: 12px;
      margin-top: 52px;

      .quantity-selector {
        border: 1px solid vars.$white-80;

        .quantity-btn {
          font-size: 28px; /* dấu − và + to hơn */
          font-weight: 300;
          padding: 10px 20px;
          border-left: 1px solid vars.$white-80;
          border-right: 1px solid vars.$white-80;
          color: vars.$white-80;
        }

        input {
          font-family: "Plus Jakarta Sans", sans-serif;
          color: vars.$white-80;
          text-align: center;
          width: 60px;
          background: transparent;
          outline: none;
          border: none;
        }
      }

      .btn-add-to-cart {
        text-transform: uppercase;
        padding: 8px 30px;
      }
    }

    &__meta {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-size: 18px;
      text-transform: capitalize;
      margin-top: 60px;
      color: vars.$white-80;

      strong {
        text-transform: uppercase;
        color: vars.$white;
      }
    }

    &__tabs {
      margin-top: 100px;
      color: vars.$white-80;
      .tabs-header {
        position: relative;
        display: flex;
        gap: 42px;
        color: vars.$white;

        .tab-link {
          padding: 0;
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
          color: inherit;
          transition: all 0.3s ease;

          &:hover {
            color: vars.$dank-orange;
          }
        }

        .active {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 38px;
            display: block;
            height: 1px;
            width: 100%;
            background: vars.$dank-orange;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 38px;
          display: block;
          width: 100%;
          height: 1px;
          opacity: 0.5;
          background-color: vars.$white-80;
        }
      }

      .tab-content {
        display: flex;
        flex-direction: column;
        gap: 31px;
        margin-top: 35px;

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
        }
      }
    }

    .related-products {
      margin-top: 100px;
      h2 {
        font-size: 24px;
        line-height: 34px;
        text-transform: capitalize;
      }
    }
  }
}
