$white: #fff;
$white-80: rgba(255, 255, 255, 0.8);
$dank-orange: #fb8f2c;
$dank: #111114;

.footer {
  margin-top: 150px;
  margin-bottom: 50px;

  .connect-section {
    display: flex;
    gap: 94px;

    .connect-header {
      display: flex;
      flex-direction: column;

      .connect-text {
        margin-top: 76px;
        color: $white-80;
        line-height: 26px;
        max-width: 211px;
      }

      .connect-download {
        display: flex;
        gap: 18px;
        margin-top: 18px;
      }
    }

    .connect-link {
      width: 210px;

      .link-title {
        font-family: " Plus Jakarta Sans ", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
      }

      .link-list {
        color: $white-80;
        margin-top: 24px;

        li {
          a {
            line-height: 26px;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $dank-orange;
            }
          }

          & + li {
            margin-top: 12px;
          }
        }
      }
    }

    .connect-follow {
      .follow-title {
        font-family: " Plus Jakarta Sans ", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
      }

      .follow-list {
        color: $white-80;
        margin-top: 24px;

        li {
          a {
            position: relative;
            line-height: 26px;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $dank-orange;
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 1px;
              background: $white-80;
            }

            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 1px;
              z-index: 1;
              transform: scale(0, 1);
              transform-origin: left;
              background: $dank-orange;
              transition: all 0.3s ease-in-out;
            }

            &:hover::before {
              transform: scale(1, 1);
            }
          }

          & + li {
            margin-top: 12px;
          }
        }
      }
    }
  }
}
