<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <span class="text-intro">Hi, new friend!</span>
        <h1>We do not cook, we create your Emotions!</h1>
        <span class="text-intro"
          >There's evidence that cooking, like other creative practices, can
          boost well-being, self-esteem, and other measures of mental
          health.</span
        >
        <span class="text-intro our-menu link-underline-orange">
          Our menu
        </span>
      </div>
      <div class="col-5">
        <div class="dish">
          <div class="dish-big">
            <img class="food-big" src="/images/food-1.png" alt="" />
            <div class="price-big">
              <span>Price:$11</span>
            </div>
          </div>
          <div class="dish-small">
            <img class="food-small" src="/images/food-2.png" alt="" />
            <img class="food-small" src="/images/food-3.png" alt="" />
            <img class="food-small" src="/images/food-4.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
