<!doctype html>
<html lang="en">
  <head>
    <% pageTitle = 'Blog - WowWraps' %> <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <% currentPage = 'blog' %> <%- include("./partials/header.ejs") %>
    <main>
      <div class="wrapper">
        <div class="blog-hero">
          <div class="container">
            <h1 class="blog-hero__title">
              Restaurant Management & Growth Blog
            </h1>
          </div>
        </div>
        <div class="container">
          <div class="featured-post">
            <div class="featured-post__image">
              <img src="/images/blog-1.png" alt="" />
            </div>
            <div class="featured-post__content">
              <h2 class="featured-post__title">
                Everything you need to know about the growing role of AI in
                restaurants
              </h2>
              <p class="featured-post__excerpt">
                You are sitting in your favorite restaurant and have ordered on
                a tablet on your table. A few seconds after placing the order, a
                notification will appear in your messaging app.
              </p>
              <a class="featured-post__readmore link-underline-orange"
                >Read more</a
              >
            </div>
          </div>
          <div class="blog-grid">
            <div class="blog-card">
              <img src="/images/blog-2.png" alt="" class="blog-card__image" />
              <div class="blog-card__information">
                <h2 class="blog-card__title">
                  Is the Breakfast Forecast Partly Sunny or Partly Cloudy?
                </h2>
                <div class="blog-card__meta">
                  <span>August 6, 2022</span>
                  <span>•</span>
                  <span>By Admin</span>
                </div>
              </div>
              <div class="blog-card__readmore link-underline-orange">
                Read more
              </div>
            </div>
            <div class="blog-card">
              <img src="/images/blog-3.png" alt="" class="blog-card__image" />
              <div class="blog-card__information">
                <h2 class="blog-card__title">
                  Hiring Quickly (But Safely) as Dining Demand Picks Up
                </h2>
                <div class="blog-card__meta">
                  <span>August 6, 2022</span>
                  <span>•</span>
                  <span>By Admin</span>
                </div>
              </div>
              <div class="blog-card__readmore link-underline-orange">
                Read more
              </div>
            </div>
          </div>
          <div class="blog-grid">
            <div class="blog-card">
              <img src="/images/blog-4.png" alt="" class="blog-card__image" />
              <div class="blog-card__information">
                <h2 class="blog-card__title">
                  Is the Breakfast Forecast Partly Sunny or Partly Cloudy?
                </h2>
                <div class="blog-card__meta">
                  <span>August 6, 2022</span>
                  <span>•</span>
                  <span>By Admin</span>
                </div>
              </div>
              <div class="blog-card__readmore link-underline-orange">
                Read more
              </div>
            </div>
            <div class="blog-card">
              <img src="/images/blog-5.png" alt="" class="blog-card__image" />
              <div class="blog-card__information">
                <h2 class="blog-card__title">
                  Hiring Quickly (But Safely) as Dining Demand Picks Up
                </h2>
                <div class="blog-card__meta">
                  <span>August 6, 2022</span>
                  <span>•</span>
                  <span>By Admin</span>
                </div>
              </div>
              <div class="blog-card__readmore link-underline-orange">
                Read more
              </div>
            </div>
          </div>
          <div class="blog-grid">
            <div class="blog-card">
              <img src="/images/blog-6.png" alt="" class="blog-card__image" />
              <div class="blog-card__information">
                <h2 class="blog-card__title">
                  Is the Breakfast Forecast Partly Sunny or Partly Cloudy?
                </h2>
                <div class="blog-card__meta">
                  <span>August 6, 2022</span>
                  <span>•</span>
                  <span>By Admin</span>
                </div>
              </div>
              <div class="blog-card__readmore link-underline-orange">
                Read more
              </div>
            </div>
            <div class="blog-card">
              <img src="/images/blog-7.png" alt="" class="blog-card__image" />
              <div class="blog-card__information">
                <h2 class="blog-card__title">
                  Hiring Quickly (But Safely) as Dining Demand Picks Up
                </h2>
                <div class="blog-card__meta">
                  <span>August 6, 2022</span>
                  <span>•</span>
                  <span>By Admin</span>
                </div>
              </div>
              <div class="blog-card__readmore link-underline-orange">
                Read more
              </div>
            </div>
          </div>
          <div class="pagination">
            <div class="pagination__inner">
              <div class="pagination__prev">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="9"
                  viewBox="0 0 20 9"
                  fill="none">
                  <path
                    d="M19.5 4.5H0.5M0.5 4.5C1.93939 4.28667 4.81818 3.188 4.81818 0.5M0.5 4.5C1.93939 4.71333 4.81818 5.812 4.81818 8.5"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                Previous
              </div>
              <ul class="pagination__list">
                <li class="pagination__item active">1</li>
                <li class="pagination__item">2</li>
                <li class="pagination__item">3</li>
                <li class="pagination__item">...</li>
                <li class="pagination__item">8</li>
                <li class="pagination__item">9</li>
                <li class="pagination__item">10</li>
              </ul>
              <div class="pagination__next">
                Next<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="9"
                  viewBox="0 0 20 9"
                  fill="none">
                  <path
                    d="M0.5 4.5H19.5M19.5 4.5C18.0606 4.28667 15.1818 3.188 15.1818 0.5M19.5 4.5C18.0606 4.71333 15.1818 5.812 15.1818 8.5"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </div>
            </div>
          </div>
          <div class="newsletter">
            <img src="/images/blog-8.png" class="newsletter__image" />
            <div class="newsletter__content">
              <div class="newsletter__badge">
                <h2 class="newsletter__title">
                  Subscribe Newsletter & get letest news
                </h2>
                <p class="newsletter__desc">
                  Get insider access to news around the innovations, unique
                  cooking techniques, culinary concepts, insights, and more
                </p>
              </div>
              <form class="newsletter__form">
                <input
                  type="email"
                  placeholder="Enter your email address"
                  class="newsletter__input"
                  required />
                <div class="input-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="55"
                    height="25"
                    viewBox="0 0 55 25"
                    fill="none">
                    <path
                      d="M0.5 12.5H54.5M54.5 12.5C50.4091 11.86 42.2273 8.564 42.2273 0.5M54.5 12.5C50.4091 13.14 42.2273 16.436 42.2273 24.5"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </div>
              </form>
            </div>
            <div class="newsletter__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="104"
                height="104"
                viewBox="0 0 104 104"
                fill="none">
                <path
                  d="M65.914 46.2363C87.8767 46.936 104 49.2515 104 52C104 54.7485 87.8767 57.064 65.914 57.7637C80.9494 73.788 90.713 86.8263 88.7694 88.7694C86.8263 90.713 73.788 80.9494 57.7637 65.9144C57.064 87.8767 54.7485 104 52 104C49.2515 104 46.936 87.8767 46.2363 65.914C30.2119 80.9494 17.1739 90.713 15.2305 88.7694C13.287 86.8263 23.0505 73.788 38.0855 57.7637C16.1231 57.064 0 54.7485 0 52C0 49.2515 16.1231 46.936 38.0855 46.2363C23.0505 30.2119 13.287 17.1739 15.2304 15.2305C17.1739 13.287 30.2119 23.0506 46.2363 38.0858C46.936 16.1231 49.2515 0 52 0C54.7485 0 57.064 16.1231 57.7637 38.0855C73.788 23.0505 86.8263 13.287 88.7694 15.2304C90.713 17.1739 80.9494 30.2119 65.914 46.2363Z"
                  fill="#FFCA0E" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>

    <script type="module" src="./main.js"></script>
  </body>
</html>
